{% extends 'base.html' %}

{% block content %}

<h1>Welcome to CC Tracker Blog</h1>
<p>A place where you can share all your ideas, frustrations and more!<p>

<div>
    <a href="{% url 'new_post' %}" class="btn btn-default">Add new post</a>
    {% comment %} <a href="#" class="btn btn-default">Sort posts by tags</a> {% endcomment %}
    <hr>
</div>

{% for post in blog %}

    <div class="row">
        {% comment %} <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> {{post.author}}</p>
        </div> {% endcomment %}
        <div class="col-xs-12 col-md-11 col-lr-10">
            <h2>{{ post.title }}</h2>
            <h3>by {{ post.author | capfirst }}</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read more</a></p>
                    <p><small>Published on:</small> {{ post.published_date | date:'F d, Y' }} </p>
                    <p><small>Views:</small> {{post.views}}</p>
                    {% comment %} <p><small>Tags:</small> {{ post.tag }}</p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    
    {% if forloop.last %}
    {% else %}
        <hr>
    {% endif %}

{% endfor %}

{% endblock  %}