{% extends 'base.html' %}

{% block content %}

<h1>Welcome to CC Tracker Blog</h1>
<p>A place where we share our news, ideas, frustrations and more!<p>
<p>Please engage with the content by commenting on the posts.</p>

<div>
    {% if user.is_superuser %}
        <a href="{% url 'new_post' %}" class="btn btn-success">Add new post</a>
    {% endif %}
    <hr>
</div>

{% for post in pages %}

    <div class="row">
        <div class="col-xs-12 col-md-11 col-lr-10">
            <h2>{{ post.title }}</h2>
            <h3>by {{ post.author | capfirst }}</h3>
            {% if post.tag == 'issue' %}
                <span class="tags label label-rejected">{{ post.tag }}</span>
            {% elif post.tag == 'feature' %}
                <span class="tags label label-done">{{ post.tag }}</span>
            {% elif post.tag == 'news' %}
                <span class="tags label label-votes">{{ post.tag }}</span>
            {% elif post.tag == 'other' %}
                <span class="tags label label-in-progress">{{ post.tag }}</span>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ post.content | capfirst | truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read more</a></p>
                    <p class="type-roboto">Published on: {{ post.created_date | date:'F d, Y' }} </p>
                    {% if post.updated_date is not None %}
                        <p class="type-roboto"><small>Updated on: {{ post.updated_date | date:'F d, Y' }}</small></p>
                    {% endif %}
                    <p class="type-roboto">{{post.views}} Views | {{ post.comments.count }} Comments</p>
                </div>
            </div>
        </div>
    </div>
    
    {% if forloop.last %}
    {% else %}
        <hr>
    {% endif %}

{% endfor %}

{% include 'pagination.html' %}

{% endblock  %}