{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% comment %} <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> {{post.author}}</p>
        </div> {% endcomment %}
        <div class="col-xs-12 col-md-11 col-lr-10">
            {% comment %} {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %} {% endcomment %}
            <h1>{{ post.title }}</h1>
            <h2>by {{ post.author }}</h2>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ post.content }}</p>
                    <hr>
                    <p><small>Published on: {{ post.published_date | date:'F d, Y' }}</small></p>
                    <p><small>Views: {{post.views}}</small></p>
                    {% comment %} <p><small>Tag:</small> {{ post.tag }}</p> {% endcomment %}
                    <a href="{% url 'get_posts' %}" class="btn btn-default">Back to Blog</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
