{% extends 'base.html' %}
{% block content %}

<h1>Welcome to the CC Tracker!</h1>
<p>A tool for CamperCamp users that allows to submit issues encountered with the site or create and vote on new features we promise to implement.</p>
<button class="btn btn-default" type="button">Learn more</button>
<div class="about hide">
    <p class="details">CC Tracker allows you to create new issues for any bugs you encounter while using the CamperClub application or vote on the existing ones to proritise fixes for the most common issues.<p>
    <p class="details">You can as well request a new feature that you'd like to see in the CamperCamp application. Similar to the issues, you can vote on the already requested features in order to prioritise development of the most popular ones.</p>
    <p class="details">We promise to spend half of our development time fixing the issues with the highest number of votes and the other half on building the most popular features. Each user can vote for a specific issue only once but have unlimited votes on the features.</p>
    <p class="details">The votes are free when voting on issues but there is a charge of €5 for every vote used on features.
    </p>
</div>
<div>
    <h3>CHARTS HERE...</h3>
</div>
{% endblock  %}

{% block script %}
    $(document).ready(function(){
        $('.jumbotron button').click(function() {
            $('.about').toggleClass('hide');
        });
    });
{% endblock  %}
