{% extends 'base.html' %}

{% block head_js %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
{% endblock head_js %}

{% block content %}

    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% elif message.tags == 'error' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

<h1>Welcome to the CC Tracker!</h1>
<p>A tool for CamperCamp users that allows to submit issues encountered with the site or create and vote on new features we promise to implement.</p>
<button class="btn btn-default" type="button">Learn more</button>
<div class="about hide">
    <p class="details">CC Tracker allows you to create new issues for any bugs you encounter while using the CamperClub application or vote on the existing ones to proritise fixes for the most common issues.<p>
    <p class="details">You can as well request a new feature that you'd like to see in the CamperCamp application. Similar to the issues, you can vote on the already requested features in order to prioritise development of the most popular ones.</p>
    <p class="details">We promise to spend half of our development time fixing the issues with the highest number of votes and the other half on building the most popular features. Each user can vote for a specific issue only once but have unlimited votes on the features.</p>
    <p class="details">The votes are free when voting on issues but there is a charge of €5 for every vote used on features.
    </p>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Some insignt into our data:</h2>
            <p>There are currently <strong>{{ total_issues }}</strong> reported issues and <strong>{{ total_features }}</strong> raised features with <strong>{{ votes.sum }}</strong> votes in total.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default top-items">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Voted Issues</h3>
                </div>
                <div class="panel-body">
                    {% for voted_issue in top_voted_issues %}
                        {% if voted_issue.votes > 0 %}
                            <a href="{% url 'item_detail' voted_issue.id %}"><h4><strong>{{ voted_issue.votes }} - </strong>{{ voted_issue.title }}</h4></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Voted Features</h3>
                </div>
                <div class="panel-body">
                    {% for voted_feature in top_voted_features %}
                        {% if voted_feature.votes > 0 %}
                            <a href="{% url 'item_detail' voted_feature.id %}"><h4><strong>{{ voted_feature.votes }} - </strong>{{ voted_feature.title }}</h4></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default top-items">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Viewed Issues</h3>
                </div>
                <div class="panel-body">
                    {% for viewed_issue in top_view_issues %}
                        {% if viewed_issue.views > 0 %}
                            <a href="{% url 'item_detail' viewed_issue.id %}"><h4><strong>{{ viewed_issue.views }} - </strong>{{ viewed_issue.title }}</h4></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Viewed Features</h3>
                </div>
                <div class="panel-body">
                    {% for viewed_feature in top_view_features %}
                        {% if viewed_feature.views > 0 %}
                            <a href="{% url 'item_detail' viewed_feature.id %}"><h4><strong>{{ viewed_feature.views }} - </strong>{{ viewed_feature.title }}</h4></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3 class="chart-title">Issues Categories Breakdown</h3>
        <div id="categories-per-issues">
        </div>    
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3 class="chart-title">Features Categories Breakdown</h3>
        <div id="categories-per-features">
        </div>    
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3 class="chart-title">Issues Progress Status</h3>
        <div id="progress-issues">
        </div>    
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3 class="chart-title">Features Progress Status</h3>
        <div id="progress-features">
        </div>    
    </div>
</div>

{% endblock  %}

{% block script %}
    $(document).ready(function(){
        $('.jumbotron button').click(function() {
            $('.about').toggleClass('hide');
        });
    });

    
    var data_issues = {{ data_issues|safe }};
    var data_features = {{ data_features|safe }};
    var categories_per_issues = {{ categories_per_issues|safe }};
    var categories_per_features = {{ categories_per_features|safe }};
    var ndx_data_issues = crossfilter(data_issues);
    var ndx_data_features = crossfilter(data_features);
    var ndx_categories_per_issues = crossfilter(categories_per_issues);
    var ndx_categories_per_features = crossfilter(categories_per_features);
    console.log(categories_per_issues)
    console.log(categories_per_features)

    function screenSize() {
    return  xxsmall.matches ? 250 :
            xsmall.matches ? 300 :
            small.matches ? 400 :
            small_medium.matches ? 500 :
            medium.matches ? 350 : 
            large.matches ? 400 :
            xlarge.matches ? 500 :
            null;
    }

    var xxsmall = window.matchMedia('(max-width: 350px)');
    var xsmall = window.matchMedia('(max-width: 450px)');
    var small = window.matchMedia('(max-width: 600px)');
    var small_medium = window.matchMedia('(max-width: 768px)');
    var medium = window.matchMedia('(max-width: 992px)');
    var large = window.matchMedia('(max-width: 1199px)');
    var xlarge = window.matchMedia('(min-width: 1200px)');

    var width = screenSize();

    function issues_chart(ndx_data_issues) {
    var name_dim = ndx_data_issues.dimension(dc.pluck('category'));
    var facilities_per_loc = name_dim.group();
    dc.pieChart("#categories-per-issues")
        .height(400)
        .width(width)
        .radius(90)
        .innerRadius(45)
        .transitionDuration(1500)
        .dimension(name_dim)
        .group(facilities_per_loc)
        .legend(dc.legend())
        .externalLabels(.8)
        .colors(d3.scaleOrdinal().range(['#E86B6B','#FF9582','#FFB5A6','#FFC899','#FFDD8C','#FFF280']));
    }

    function features_chart(ndx_data_features) {
    var name_dim = ndx_data_features.dimension(dc.pluck('category'));
    var facilities_per_loc = name_dim.group();
    dc.pieChart("#categories-per-features")
        .height(400)
        .width(width)
        .radius(90)
        .innerRadius(45)
        .transitionDuration(1500)
        .dimension(name_dim)
        .group(facilities_per_loc)
        .legend(dc.legend())
        .externalLabels(.8)
        .colors(d3.scaleOrdinal().range(['#2DAD9A','#34C9B3','#3AE0C7','#74E0C7','#A3F7D8','#BFF7D8']));
    }

    function categories_per_issues_chart(ndx_categories_per_issues) {
    var name_dim = ndx_categories_per_issues.dimension(dc.pluck('timespan'));
    var progress_issues = name_dim.group().reduceSum(dc.pluck('value')).order('order');
    dc.barChart('#progress-issues')
        .width(width)
        .height(200)
        .colors(d3.scaleOrdinal().range(['#E86B6B']))
        .margins({top: 10, right: 50, bottom: 40, left: 30})
        .dimension(name_dim)
        .group(progress_issues)
        .transitionDuration(1500)
        .x(d3.scaleBand().domain(['daily','weekly','monthly']))
        .xUnits(dc.units.ordinal)
        .xAxisLabel('Timeframe')
        .yAxisLabel('Issues')
        .yAxis().ticks(4);
    }

    function categories_per_features_chart(ndx_categories_per_features) {
    var name_dim = ndx_categories_per_features.dimension(dc.pluck('timespan'));
    var progress_features = name_dim.group().reduceSum(dc.pluck('value'));
    dc.barChart('#progress-features')
        .width(width)
        .height(200)
        .colors(d3.scaleOrdinal().range(['#2DAD9A']))
        .margins({top: 10, right: 50, bottom: 40, left: 30})
        .dimension(name_dim)
        .group(progress_features)
        .transitionDuration(1500)
        .x(d3.scaleBand().domain(['daily','weekly','monthly']))
        .xUnits(dc.units.ordinal)
        .xAxisLabel('Timeframe')
        .yAxisLabel('Features')
        .yAxis().ticks(4);
    }

    issues_chart(ndx_data_issues);
    features_chart(ndx_data_features);
    categories_per_issues_chart(ndx_categories_per_issues);
    categories_per_features_chart(ndx_categories_per_features);

    dc.renderAll();

{% endblock  %}
