{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-11 col-lr-10">
            <h1>{{ feature.title | capfirst }}</h1>
            <h2>by {{ feature.author | capfirst }}</h2>
            {% if feature.category == 'in progress' %}
                <span class="label label-warning">{{ feature.category }}</span>
            {% elif feature.category == 'done' %}
                <span class="label label-success">{{ feature.category }}</span>
            {% else %}
                <span class="label label-default">{{ feature.category }}</span>
            {% endif %}
            <span class="label label-info text-right">{{feature.user_votes}} <small>votes</small></span>
            <div class="row">
                <div class="col-xs-12">
                    <p class="content">{{ feature.description | capfirst }}</p>
                    <hr>
                    <div class="col-xs-6">
                        <p class="type-roboto">Published on: {{ feature.published_date | date:'F d, Y' }}</p>
                        <p class="type-roboto">{{ feature.views }} Views | {{ feature.comments_feat.count }} Comments</p>
                    </div>
                    <div class="col-xs-12 options">
                        <a href="{% url 'get_features' %}" class="btn btn-danger">Back to Features</a>
                        {% if user.is_authenticated %}
                            {% if request.user != feature.author %}
                                <a href="{% url 'add_vote_feat' feature.id %}" class="btn btn-success">Vote</a>
                            {% endif %}
                        {% else %}
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target=".bs-feaatures-vote-modal-sm" aria-haspopup="true" aria-expanded="false">Vote</a>
                            <div class="modal fade bs-feaatures-vote-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <p class="modal-title" id="myModalLabel"><strong>Users access only</strong></p>
                                        </div>
                                        <div class="modal-body">
                                            <p>Please login or register in order to vote on a feature.</p>
                                            <a href="{% url 'login' %}" class="btn btn-default" type="button">Login</a>
                                            <a href="{% url 'registration' %}" class="btn btn-default" type="button">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'add_comment_to_feature' pk=feature.pk %}" class="btn btn-comment">Add Comment</a>
                        {% endif %}
                        {% if user == feature.author %}
                            <a href="{% url 'edit_feature' feature.id %}" class="btn btn-default">Edit</a>
                        {% else %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-12 space-top">
                {% for comment in feature.comments_feat.all %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><small>{{ comment.content | linebreaks }}</small></p>
                            <p class="type-roboto">Published on: {{ comment.published_date | date:'F d, Y @ P' }} | by: {{ comment.author | capfirst }}</p>
                        </div>
                        {% if request.user == comment.author %}
                            <div class="panel-btn">
                                <a href="{% url 'edit_comment_feature' comment.id %}" class="btn btn-danger btn-sm">Edit</a>
                                <a href="#" class="btn btn-delete btn-sm" data-toggle="modal" data-target=".bs-comment-modal-sm" aria-haspopup="true" aria-expanded="false">Delete</a>
                                <div class="modal fade bs-comment-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <p>Please confirm if you want to delete this comment</p>
                                                <a href="{% url 'delete_comment_feature' comment.id %}" class="btn btn-delete btn-sm">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <p class="type-roboto">There are no comments for this post yet</p>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}