/* Typography */

.type-rightteous {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

/* Footer */

footer, footer div {
    height: 50px;
    width: 100%;
    background-color: #FF9683;
}

footer p {
    padding-top: 15px;
}

footer p a {
    text-decoration: none;
    color: inherit;
}

footer p a:hover, footer p a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

/* Bootstrap style overwrites */

.navbar, .navbar-default, .navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    background-color: #FF9683;
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFB5A6;
}

.jumbotron {
    background-color: white;
}

.jumbotron h1 {
    color: #FF9683;
}

.btn-default {
    background-color: #FF9683;
    background-image: none;
    color: white;
    border-color: #FF9683;
}

.btn-default:active:hover, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #FFB5A6;
    background-image: none;
    color: white;
    border-color: #FFB5A6;
    outline: none;
    box-shadow: none;
}

.jumbotron .details {
    font-size: 18px;
}

.about {
    margin-top: 10px;
}