hr {
    border-top-color: #FF9683;
}

.link {
    color: #555555;
}

.link:hover, .link:focus {
    color: #FF9683;
    text-decoration: none;
}

.space-top {
    padding-top: 15px;
}

.space-top > a {
    margin: 5px;
}

a:hover, a:focus {
    text-decoration: none;
}

/* Typography */

h1, h2, h3, p {
    color: #555555;
}

.type-rightteous {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

.type-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron .type-roboto {
    font-size: 14px;
    margin: 0;
}

.jumbotron .panel-body > h3 {
    font-size: 18px;
}

.options {
    padding-top: 15px;
    padding-left: 0;
}

.options > a {
    margin: 5px;
}

.content {
    padding: 15px;
}

/* Footer */

footer, footer div {
    height: 50px;
    width: 100%;
    background-color: #FF9683;
}

footer p {
    padding-top: 15px;
}

footer p a {
    text-decoration: none;
    color: inherit;
}

footer p a:hover, footer p a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

/* Django Message style */

.error, .success {
    font-size: 16px !important;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.error {
    background: #FF9683;
    -webkit-box-shadow: 0px 9px 10px 4px rgba(255,150,131,0.2); 
    box-shadow: 0px 9px 10px 4px rgba(255,150,131,0.2);
}

.success {
    background: #37B37E;
    -webkit-box-shadow: 0px 9px 10px 4px rgba(55,179,126,0.2); 
    box-shadow: 0px 9px 10px 4px rgba(55,179,126,0.2);
}

/* Bootstrap style overwrites */

/* Bootstrap Navbar */

.navbar, .navbar-default, .navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    background-color: #FF9683;
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #FFB5A6;
}

.dropdown-menu {
    background-color: #FF9683;
    border: none;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FFB5A6;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #FFB5A6;
    }
}

.navbar-nav > li:last-child > a {
    color: #555555;
}

/* Bootstrap Jumbotron */

.jumbotron {
    background-color: white;
}

.jumbotron h1 {
    color: #FF9683;
}

.img-default {
    height: 100px;
    max-width: 100px;
}

/* Bootstrap buttons */

.btn {
    margin-right: 30px;
}

.btn-default {
    background-color: #FF9683;
    background-image: none;
    color: white;
    border-color: #FF9683;
}

.btn-default:active:hover, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #FFB5A6;
    background-image: none;
    color: white;
    border-color: #FFB5A6;
    outline: none;
    box-shadow: none;
}

.btn-success {
    background-color: #37B37E;
    background-image: none;
    color: white;
    border-color: #37B37E;
}

.btn-success:active:hover, .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #70DBAD;
    background-image: none;
    color: white;
    border-color: #70DBAD;
    outline: none;
    box-shadow: none;
}

.btn-danger {
    background-color: #FFB275;
    background-image: none;
    color: white;
    border-color: #FFB275;
}

.btn-danger:active:hover, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #FFC575;
    background-image: none;
    color: white;
    border-color: #FFC575;
    outline: none;
    box-shadow: none;
}

.btn-delete {
    background-color: white;
    background-image: none;
    color: #FF9683;
    border-color: #FF9683;
}

.btn-delete:active:hover, .btn-delete:hover, .btn-delete:active, .btn-delete:focus {
    background-color: #FF9683;
    background-image: none;
    color: white;
    border-color: #FF9683;
    outline: none;
    box-shadow: none;
}

.btn-comment {
    background-color: #555555;
    background-image: none;
    color: white;
    border-color: #555555;
}

.btn-comment:active:hover, .btn-comment:hover, .btn-comment:active, .btn-comment:focus {
    background-color: #A1A1A1;
    background-image: none;
    color: white;
    outline: none;
    box-shadow: none;
    border-color: #A1A1A1;
}

/* Bootstrap dashboard and tabs */

.jumbotron .details {
    font-size: 18px;
}

.about {
    margin-top: 10px;
}

.nav-tabs > li > a {
    color: #FF9683;
}

.tab-content > .active {
    padding: 5px 0;
}

.img-circle {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

/* Bootstrap Panel */

.panel {
    padding: 0;
}

.panel-link, .panel-link:hover, .panel-link:focus {
    text-decoration: none;
    color: inherit;
}

.panel-default:hover, .panel-default:focus {
    text-decoration: none;
    color: inherit;
    background-color: #f5f5f5;
}

.panel-default > .panel-heading {
    overflow: auto;
}

.panel-heading > h2 {
    display: inline;
    line-height: 2;
}

.panel-heading > div  {
    float: right;
    margin: 5px 0;
}

.panel-heading > div > p {
    margin: 0 5px;
    font-size: 14px;
}

.panel-btn {
    padding: 15px;
    padding-top: 0;
}

/* Bootstrap pagination */

.pagination > li > a {
    color: #555555;
}

.pagination > li > a:hover {
    color: #FFB275;
}

.pagination > .active > a {
    color: #FF9683;
}

/* Bootstrap labels */

.label {
    font-size: 100%;
}

.panel-heading > div .label, .panel > div .label {
    font-size: 75%;
}

.label-warning {
    background-color: #FFB275;
}

.label-info {
    background-color: #699DFF;
}