{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

{% if messages %}
    <div>
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button class="btn btn-default" type="submit">Login</button>
    </form>
    <hr>
    <p><small>If you are not a member yet please <a class="link" href="{% url 'registration' %}"><strong>register</strong></a></small></p>
    <p><small>If you forgot your password please <a class="link" href="{% url 'password_reset' %}"><strong>reset your password</strong></a></small></p>

{% endblock  %}