    
{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ registration_form | as_bootstrap }}
        <button class="btn btn-default" type="submit">Register</button>
    </form>
    <hr>
    <p>If you are a member already please sign in <a href="{% url 'login' %}">here</a></p>

{% if messages %}
    <div>
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}