    
{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% elif message.tags == 'error' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ registration_form | as_bootstrap }}
        <button class="btn btn-default" type="submit">Register</button>
    </form>
    <hr>
    <p><small>If you are a member already please <a class="link" href="{% url 'login' %}"><strong>login</strong></a></small></p>

{% endblock %}