{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CC Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="/media/cct_logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand type-rightteous" href="{% url 'hello' %}">CC Tracker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'new_issue' %}">Issue</a></li>
                                <li><a href="{% url 'new_feature' %}">Feature</a></li>
                            </ul>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-sm" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <p class="modal-title" id="myModalLabel"><strong>Users access only</strong></p>
                                        </div>
                                        <div class="modal-body">
                                            <p>Please login or register in order to report an issue or create new feature.</p>
                                            <a href="{% url 'login' %}" class="btn btn-default" type="button">Login</a>
                                            <a href="{% url 'registration' %}" class="btn btn-default" type="button">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'get_issues' %}">Issues</a></li>
                        <li><a href="{% url 'get_features' %}">Features</a></li>
                        <li><a href="{% url 'get_posts' %}">Blog</a></li>
                        <li><a href="{% url 'contactForm' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        {% comment %} <li><a href="{% url 'registration' %}">Register</a></li> {% endcomment %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <footer>
        <div class="container-fluid">
                <div class="col-xs-12">
                    <a href="http://danielorchel.com/" target="_blank">
                        <p>made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by me</p>
                    </a>
                </div>
        </div>
    </footer>

    <script>
        {% block script %}
        {% endblock %}
    </script>

</body>
</html>