{% extends 'base.html' %}

{% block content %}

    <h1>List of all issues</h1>
    <p>You will find here all raised issues. Please vote on the ones you believe are important so they can be fixed asap.</p>
    {% if user.is_authenticated %}
        <a href="{% url 'new_issue' %}" class="btn btn-success">Add new issue</a>
    {% else %}
        <a href="#" class="btn btn-success" data-toggle="modal" data-target=".bs-issues-modal-sm" aria-haspopup="true" aria-expanded="false">Add new issue</a>
        <div class="modal fade bs-issues-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title" id="myModalLabel"><strong>Users access only</strong></p>
                    </div>
                    <div class="modal-body">
                        <p>Please login or register in order to add new issue.</p>
                        <a href="{% url 'login' %}" class="btn btn-default" type="button">Login</a>
                        <a href="{% url 'registration' %}" class="btn btn-default" type="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <hr>

    {% for issue in items %}
    <a class="panel-link" href="{% url 'issue_detail' issue.id %}">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default col-xs-12">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ issue.title | capfirst }}</h2>
                        <div>
                            {% if issue.category == 'in progress' %}
                                <span class="label label-warning">{{ issue.category }}</span>
                            {% elif issue.category == 'done' %}
                                <span class="label label-success">{{ issue.category }}</span>
                            {% else %}
                                <span class="label label-default">{{ issue.category }}</span>
                            {% endif %}
                            <span class="label label-info text-right">{{ issue.votes }} <small>votes</small></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{ issue.description | capfirst | truncatewords:15 }}</p>
                        <p class="type-roboto">by: {{ issue.author | capfirst }}</p>
                        <p class="type-roboto">Published on: {{ issue.created_date | date:'F d, Y' }} </p>
                        {% if issue.updated is True %}
                            <p class="type-roboto"><small>Updated on: {{ issue.updated_date | date:'F d, Y' }}</small></p>
                        {% endif %}
                        <p class="type-roboto">{{ issue.views }} Views | {{ issue.issue_comments.count }} Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

{% include 'pagination.html' %}

{% endblock %}