{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-11 col-lr-10">
            <h1>{{ issue.title | capfirst }}</h1>
            <h2>by {{ issue.author | capfirst }}</h2>
            <p class="votes">{{issue.votes}} votes</p>
            <div class="row">
                <div class="col-xs-12">
                    <p class="content">{{ issue.description | capfirst }}</p>
                    <hr>
                    <div class="col-xs-6">
                        <p class="type-roboto">Published on: {{ issue.published_date | date:'F d, Y' }}</p>
                        <p class="type-roboto">Views: {{issue.views}}</p>
                    </div>
                    <div class="col-xs-12 options">
                        <a href="{% url 'get_issues' %}" class="btn btn-danger">Back to Issues</a>
                        {% if user.is_authenticated %}
                            <a href="#" class="btn btn-success">Vote</a>
                        {% else %}
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target=".bs-feaatures-vote-modal-sm" aria-haspopup="true" aria-expanded="false">Vote</a>
                            <div class="modal fade bs-feaatures-vote-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <p class="modal-title" id="myModalLabel"><strong>Users access only</strong></p>
                                        </div>
                                        <div class="modal-body">
                                            <p>Please login or register in order to vote on a issue.</p>
                                            <a href="{% url 'login' %}" class="btn btn-default" type="button">Login</a>
                                            <a href="{% url 'registration' %}" class="btn btn-default" type="button">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if user == issue.author %}
                            <a href="{% url 'edit_issue' issue.id %}" class="btn btn-default">Edit</a>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}