{% extends 'base.html' %}

{% block content %}
    {% if request.path == '/items/issues/' %}
        <h1>List of all issues</h1>
        <p>You will find here all raised issues. Please vote on the ones you believe are important so they can be fixed asap.</p>
    {% elif request.path == '/items/features/' %}
        <h1>List of all features</h1>
        <p>You will find here all created features. Please vote on the ones you believe are important so they can be developed asap.</p>
    {% endif %}
    {% if user.is_authenticated %}
        {% if request.path == '/items/issues/' %}
            <a href="{% url 'new_issue' %}" class="btn btn-success">Add new issue</a>
        {% elif request.path == '/items/features/' %}
            <a href="{% url 'new_feature' %}" class="btn btn-success">Add new feature</a>
        {% endif %}
    {% else %}
        <a href="#" class="btn btn-success" data-toggle="modal" data-target=".bs-issues-modal-sm" aria-haspopup="true" aria-expanded="false">Add new item</a>
        <div class="modal fade bs-issues-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title" id="myModalLabel"><strong>Users access only</strong></p>
                    </div>
                    <div class="modal-body">
                        <p>Please login or register in order to add new item.</p>
                        <a href="{% url 'login' %}" class="btn btn-default" type="button">Login</a>
                        <a href="{% url 'registration' %}" class="btn btn-default" type="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <hr>

{% for page in pages %}
    <a class="panel-link" href="{% url 'item_detail' page.id %}">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default col-xs-12">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ page.title | capfirst }}</h2>
                        <div>
                            {% if page.category == 'to do' %}
                                <span class="label label-to-do">{{ page.category }}</span>
                            {% elif page.category == 'in progress' %}
                                <span class="label label-in-progress">{{ page.category }}</span>
                            {% elif page.category == 'done' %}
                                <span class="label label-done">{{ page.category }}</span>
                            {% elif page.category == 'rejected' %}
                                <span class="label label-rejected">{{ page.category }}</span>
                            {% elif page.category == 'require data' %}
                                <span class="label label-require-data">{{ page.category }}</span>
                            {% elif page.category == 'new' %}
                                <span class="label label-new">{{ page.category }}</span>
                            {% endif %}
                            <span class="label label-votes text-right">{{ page.votes }} <small>votes</small></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{ page.description | capfirst | truncatewords:15 }}</p>
                        <p class="type-roboto">by: {{ page.author | capfirst }}</p>
                        <p class="type-roboto">Published on: {{ page.created_date | date:'F d, Y' }} </p>
                        {% if page.updated_date is not None %}
                            <p class="type-roboto"><small>Updated on: {{ page.updated_date | date:'F d, Y' }}</small></p>
                        {% endif %}
                        <p class="type-roboto">{{ page.views }} Views | {{ page.item_comments.count }} Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}

{% include 'pagination.html' %}

{% endblock %}