{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <div>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% elif message.tags == 'error' %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    {% if user.profile.image.url %}
        <img class="img-circle" src="{{ user.profile.image.url }}">
    {% else %}
        <img class="img-circle" src="../media/default_profile_img.jpg">
    {% endif %}
    <h1>Hello {{ user.username | capfirst }}</h1>
    <p>You will find all your activity in the below tabs.</p>
    <hr>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">Issues</a></li>
            <li role="presentation"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a></li>
            <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
            <li role="presentation"><a href="#votes" aria-controls="votes" role="tab" data-toggle="tab">Votes</a></li>
        </ul>
        <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
                <p>Your personal data. Upload or change image or other details</p>
                <p>{{ user }}</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="issues">
                <h2>Issues created by you:</h2>
                {% for item in issues %}
                    <a href="{% url 'item_detail' item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>{{ item.title }}</strong> | <small>Published on: {{ item.created_date | date:'F d, Y @ P' }}</small></p>
                                {% if item.category == 'in progress' %}
                                    <span class="label label-warning">{{ item.category }}</span>
                                {% elif item.category == 'done' %}
                                    <span class="label label-success">{{ item.category }}</span>
                                {% else %}
                                    <span class="label label-default">{{ item.category }}</span>
                                {% endif %}
                                <span class="label label-info text-right">{{item.votes}} <small>votes</small></span>
                                <p><small>{{ item.description | capfirst | truncatewords:10 }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="features">
                <h2>Features created by you:</h2>
                {% for item in features %}
                    <a href="{% url 'item_detail' item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>{{ item.title }}</strong> | <small>Published on: {{ item.created_date | date:'F d, Y @ P' }}</small></p>
                                {% if item.category == 'in progress' %}
                                    <span class="label label-warning">{{ item.category }}</span>
                                {% elif item.category == 'done' %}
                                    <span class="label label-success">{{ item.category }}</span>
                                {% else %}
                                    <span class="label label-default">{{ item.category }}</span>
                                {% endif %}
                                <span class="label label-info text-right">{{item.votes}} <small>votes</small></span>
                                <p><small>{{ item.description | capfirst | truncatewords:10 }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane dashboard-panel" id="comments">
                <h2>Blog comments:</h2>
                {% for blog in blog_comments %}   
                    <a href="{% url 'post_detail' blog.post.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>{{ blog.post }}</strong> | <small>Published on: {{ blog.created_date | date:'F d, Y @ P' }}</small></p>
                                <p><small>{{ blog | capfirst | truncatewords:10 }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
                <h2>Issues comments:</h2>
                {% for comment in issues_comments %}   
                    <a href="{% url 'item_detail' comment.item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>{{ comment.item.title }}</strong> | <small>Published on: {{ comment.created_date | date:'F d, Y @ P' }}</small></p>
                                <p><small>{{ comment.content | capfirst | truncatewords:10 }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
                <h2>Features comments:</h2>
                {% for comment in features_comments %}   
                    <a href="{% url 'item_detail' comment.item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>{{ comment.item.title }}</strong> | <small>Published on: {{ comment.created_date | date:'F d, Y @ P' }}</small></p>
                                <p><small>{{ comment.content | capfirst | truncatewords:10 }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="votes">
                <h2>Issues votes:</h2>
                {% for vote in issues_votes %}
                    <a href="{% url 'item_detail' vote.voted_item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>1 vote</strong> | <small>{{ vote.voted_item.title }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
                <h2>Features votes:</h2>
                {% for vote in features_votes %}
                    <a href="{% url 'item_detail' vote.voted_item.id %}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="type-roboto"><strong>1 vote</strong> | <small>{{ vote.voted_item.title }}</small></p>
                            </div>  
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock  %}

{% comment %} {% block script %} {% endcomment %}

{% comment %} $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
}) {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}